<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="jiraAPI.cookieAuth"/>
      <class name="jiraAPI.createIssue"/>
	<class name="jiraAPI.editIssue"/>
<class name="jiraAPI.getIssue"/>
	<!--class name="jiraAPI.deleteIssue"/-->
	<class name="jiraAPI.attachment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
